application/cache/*
application/config/*
application/controllers/*
application/hooks/*
application/language/*
application/logs/*
application/models/*
application/views/*
system/*

bower_components/*
assets/dist/*