<div>
	<h1 class="text-center">
		CIV Revendas
	</h1>
	<p class="setup-text text-center">Configuração do Banco de dados MySQL</p>
	<hr>

	<div>
		<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
		    	<span class="sr-only">20% Complete</span>
		  	</div>
		</div>
	</div>

	<div ng-if="db_configs_error" class="alert alert-danger small-alert" role="alert">
		<strong>Ops! Ocorreu um erro.</strong>
		<br>
		<small>{{db_error_message}}.</small>
	</div>

	<div ng-if="loading" class="setup_loading">
		<img alt="Carregando..." src="../assets/dist/images/loading.gif">
		<p>Conectando ao servidor MySQL...</p>
	</div>

	<form ng-if="!loading" name="dbform" novalidate>

		<div ng-class="dbform.db_server.$valid ? 'has-success' : 'has-error'" class="form-group has-feedback">
  			<label class="control-label setup-text" for="db_server">Servidor</label>
  			<input type="text" class="form-control" pattern=".{5,}" ng-model="db_configs.db_server" name="db_server" placeholder="127.0.0.1" required>
  			<span ng-if="!dbform.db_server.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  			<span ng-if="dbform.db_server.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		</div>
		
		<div ng-class="dbform.db_user.$valid ? 'has-success' : 'has-error'" class="form-group has-feedback">
  			<label class="control-label setup-text" for="db_user">Usuário</label>
  			<input type="text" class="form-control" ng-model="db_configs.db_user" name="db_user" placeholder="root" required>
  			<span ng-if="!dbform.db_user.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  			<span ng-if="dbform.db_user.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		</div>
		
		<div ng-class="dbform.db_password.$valid ? 'has-success' : 'has-error'" class="form-group has-feedback">
  			<label class="control-label setup-text" for="db_password">Senha</label>
  			<input type="password" class="form-control" ng-model="db_configs.db_password" name="db_password" placeholder="">
  			<span ng-if="!dbform.db_password.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  			<span ng-if="dbform.db_password.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		</div>

		<div ng-class="dbform.db_name.$valid ? 'has-success' : 'has-error'" class="form-group has-feedback">
  			<label class="control-label setup-text" for="db_name">Banco de dados</label>
  			<input type="text" class="form-control" ng-model="db_configs.db_name" name="db_name" placeholder="cidatabas" required>
  			<span ng-if="!dbform.db_name.$valid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  			<span ng-if="dbform.db_name.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		</div>

		<button ng-click="saveDatabaseConfig()" ng-disabled="!dbform.db_server.$valid || !dbform.db_name.$valid || !dbform.db_user.$valid" class="btn btn-default">Próximo</button>
	</form>

</div>